input {
    keyboard {
        xkb {
            layout "us"
        }
    }

    mouse {
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="95%"
}

layout {
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        width 2

        inactive-gradient from="#1e1f21" to="#323437" angle=45
        active-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    border {
        off
    }
}


spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "udiskie --smart-tray"
spawn-at-startup "discord"
spawn-at-startup "swww-daemon"
// spawn-at-startup "fish -c 'randwall ~/pictures/wallpapers'"
// spawn-sh-at-startup "qs -c ~/source/qs/myawesomeshell"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/pictures/screenshots/screenshot from %y-%m-%d %h-%m-%s.png"


animations {
    slowdown 2.0


   window-close {
      duration-ms 250
      curve "linear"
      custom-shader r"

    vec4 fall_and_rotate(vec3 coords_geo, vec3 size_geo) {
    float progress = niri_clamped_progress * niri_clamped_progress;
    vec2 coords = (coords_geo.xy - vec2(0.5, 1.0)) * size_geo.xy;
    coords.y -= progress * 1440.0;
    float random = (niri_random_seed - 0.5) / 2.0;
    random = sign(random) - random;
    float max_angle = 0.5 * random;
    float angle = progress * max_angle;
    mat2 rotate = mat2(cos(angle), -sin(angle), sin(angle), cos(angle));
    coords = rotate * coords;
    coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 1.0), 1.0);
    vec3 coords_tex = niri_geo_to_tex * coords_geo;
    vec4 color = texture2D(niri_tex, coords_tex.st);

    return color;
  }

    vec4 close_color(vec3 coords_geo, vec3 size_geo) {
    return fall_and_rotate(coords_geo, size_geo);
     }
    "
   }
}


window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    opacity 0.98
}

window-rule {
    match app-id=r#"firefox$"# title="^picture-in-picture$"
    open-floating true
}

window-rule {
    match app-id="com.saivert.pwvucontrol"
    open-maximized false
open-floating true
	open-focused true
	max-height 600
	max-width 900
}

window-rule {
    match app-id="discord"
    open-maximized true
	open-on-output "DP-1"

}

output "DP-1" {
    mode "2560x1440@60.000"
    position x=2560 y=0
    transform "90"                
    variable-refresh-rate
    background-color "#000000"
    backdrop-color "#000000"
}

output "DP-2" {
    mode "2560x1080@144.000"
    position x=0 y=1290
    focus-at-startup
    variable-refresh-rate
    background-color "#000000"
    backdrop-color "#000000"
}

output "DP-3" {
    mode "2560x1080@144.000"
    position x=0 y=210
    transform "180"               
    variable-refresh-rate
    background-color "#000000"
    backdrop-color "#000000"
}

binds {
    mod+shift+slash { show-hotkey-overlay; }

    mod+t hotkey-overlay-title="open a terminal: ghostty" { spawn "ghostty"; }
    mod+a hotkey-overlay-title="run an application: vicinae" { spawn "vicinae toggle"; }
    // mod+a hotkey-overlay-title="run an application: fuzzel" { spawn "fuzzel"; }
    // mod+x hotkey-overlay-title="open cliboard history: fuzzel" { spawn-sh "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; }
    mod+x hotkey-overlay-title="open cliboard history: vicinae" { spawn-sh "vicinae vicinae://extensions/vicinae/clipboard/history"; }
    mod+b hotkey-overlay-title="open a browser: firefox" { spawn "firefox"; }
    alt+r hotkey-overlay-title="change random wallpaper" { spawn-sh "fish -c 'randwall ~/pictures/wallpapers'"; }







    xf86audioraisevolume allow-when-locked=true { spawn-sh "fish -c 'volctl -o i'"; }
    xf86audiolowervolume allow-when-locked=true { spawn-sh "fish -c 'volctl -o d'"; }
    xf86audiomute        allow-when-locked=true { spawn-sh "fish -c 'volctl -o m'"; }
    xf86audiomicmute     allow-when-locked=true { spawn-sh "fish -c 'volctl -i m'"; }

    xf86audioplay        { spawn-sh "fish -c 'volctl -p p'"; }   
    xf86audionext        { spawn-sh "fish -c 'volctl -p n'"; }  
    xf86audioprev        { spawn-sh "fish -c 'volctl -p b'"; } 





    mod+o repeat=false { toggle-overview; }

    mod+q repeat=false { close-window; }

    mod+left  { focus-column-or-monitor-left; }
    mod+down  { focus-window-or-monitor-down; }
    mod+up    { focus-window-or-monitor-up; }
    mod+right { focus-column-or-monitor-right; }
    mod+h     { focus-column-or-monitor-left; }
    mod+j     { focus-window-or-monitor-down; }
    mod+k     { focus-window-or-monitor-up; }
    mod+l     { focus-column-or-monitor-right; }

    mod+shift+left  { focus-monitor-left; }
    mod+shift+right { focus-monitor-right; }
    mod+shift+h     { focus-monitor-left; }
    mod+shift+l     { focus-monitor-right; }

    mod+ctrl+left  { move-column-left-or-to-monitor-left; }
    mod+ctrl+down  { move-window-down-or-to-workspace-down; }
    mod+ctrl+up    { move-window-up-or-to-workspace-up; }
    mod+ctrl+right { move-column-right-or-to-monitor-right; }
    mod+ctrl+h     { move-column-left-or-to-monitor-left; }
    mod+ctrl+j     { move-window-down-or-to-workspace-down; }
    mod+ctrl+k     { move-window-up-or-to-workspace-up; }
    mod+ctrl+l     { move-column-right-or-to-monitor-right; }

    mod+home { focus-column-first; }
    mod+end  { focus-column-last; }
    mod+ctrl+home { move-column-to-first; }
    mod+ctrl+end  { move-column-to-last; }

    // mod+shift+left  { focus-monitor-left; }
    mod+shift+down  { focus-workspace-down; }
    mod+shift+up    { focus-workspace-up; }
    // mod+shift+right { focus-monitor-right; }
    // mod+shift+h     { focus-monitor-left; }
    mod+shift+j     { focus-workspace-down; }
    mod+shift+k     { focus-workspace-up; }
    // mod+shift+l     { focus-monitor-right; }

    mod+shift+ctrl+left  { move-column-to-monitor-left; }
    mod+shift+ctrl+down  { move-column-to-monitor-down; }
    mod+shift+ctrl+up    { move-column-to-monitor-up; }
    mod+shift+ctrl+right { move-column-to-monitor-right; }
    mod+shift+ctrl+h     { move-column-to-monitor-left; }
    mod+shift+ctrl+j     { move-column-to-monitor-down; }
    mod+shift+ctrl+k     { move-column-to-monitor-up; }
    mod+shift+ctrl+l     { move-column-to-monitor-right; }

    // alternatively, there are commands to move just a single window:
    // mod+shift+ctrl+left  { move-window-to-monitor-left; }
    // ...

    // and you can also move a whole workspace to another monitor:
    // mod+shift+ctrl+left  { move-workspace-to-monitor-left; }
    // ...

    mod+page_down      { focus-workspace-down; }
    mod+page_up        { focus-workspace-up; }
    mod+u              { focus-workspace-down; }
    mod+i              { focus-workspace-up; }
    mod+ctrl+page_down { move-column-to-workspace-down; }
    mod+ctrl+page_up   { move-column-to-workspace-up; }
    mod+ctrl+u         { move-column-to-workspace-down; }
    mod+ctrl+i         { move-column-to-workspace-up; }

    // alternatively, there are commands to move just a single window:
    // mod+ctrl+page_down { move-window-to-workspace-down; }
    // ...

    mod+shift+page_down { move-workspace-down; }
    mod+shift+page_up   { move-workspace-up; }
    mod+shift+u         { move-workspace-down; }
    mod+shift+i         { move-workspace-up; }

    // you can bind mouse wheel scroll ticks using the following syntax.
    // these binds will change direction based on the natural-scroll setting.
    //
    // to avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. the bind will be rate-limited to this value.
    // you can set a cooldown on any bind, but it's most useful for the wheel.
    mod+wheelscrolldown      cooldown-ms=150 { focus-workspace-down; }
    mod+wheelscrollup        cooldown-ms=150 { focus-workspace-up; }
    mod+ctrl+wheelscrolldown cooldown-ms=150 { move-column-to-workspace-down; }
    mod+ctrl+wheelscrollup   cooldown-ms=150 { move-column-to-workspace-up; }

    mod+wheelscrollright      { focus-column-right; }
    mod+wheelscrollleft       { focus-column-left; }
    mod+ctrl+wheelscrollright { move-column-right; }
    mod+ctrl+wheelscrollleft  { move-column-left; }

    // usually scrolling up and down with shift in applications results in
    // horizontal scrolling; these binds replicate that.
    mod+shift+wheelscrolldown      { focus-column-right; }
    mod+shift+wheelscrollup        { focus-column-left; }
    mod+ctrl+shift+wheelscrolldown { move-column-right; }
    mod+ctrl+shift+wheelscrollup   { move-column-left; }

    // similarly, you can bind touchpad scroll "ticks".
    // touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // these binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // mod+touchpadscrolldown { spawn-sh "wpctl set-volume @default_audio_sink@ 0.02+"; }
    // mod+touchpadscrollup   { spawn-sh "wpctl set-volume @default_audio_sink@ 0.02-"; }

    // you can refer to workspaces by index. however, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // for example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    mod+1 { focus-workspace 1; }
    mod+2 { focus-workspace 2; }
    mod+3 { focus-workspace 3; }
    mod+4 { focus-workspace 4; }
    mod+5 { focus-workspace 5; }
    mod+6 { focus-workspace 6; }
    mod+7 { focus-workspace 7; }
    mod+8 { focus-workspace 8; }
    mod+9 { focus-workspace 9; }
    mod+ctrl+1 { move-column-to-workspace 1; }
    mod+ctrl+2 { move-column-to-workspace 2; }
    mod+ctrl+3 { move-column-to-workspace 3; }
    mod+ctrl+4 { move-column-to-workspace 4; }
    mod+ctrl+5 { move-column-to-workspace 5; }
    mod+ctrl+6 { move-column-to-workspace 6; }
    mod+ctrl+7 { move-column-to-workspace 7; }
    mod+ctrl+8 { move-column-to-workspace 8; }
    mod+ctrl+9 { move-column-to-workspace 9; }

    // alternatively, there are commands to move just a single window:
    // mod+ctrl+1 { move-window-to-workspace 1; }

    // switches focus between the current and the previous workspace.
    // mod+tab { focus-workspace-previous; }

    // the following binds move the focused window in and out of a column.
    // if the window is alone, they will consume it into the nearby column to the side.
    // if the window is already in a column, they will expel it out.
    mod+bracketleft  { consume-or-expel-window-left; }
    mod+bracketright { consume-or-expel-window-right; }

    // consume one window from the right to the bottom of the focused column.
    mod+comma  { consume-window-into-column; }
    // expel the bottom window from the focused column to the right.
    mod+period { expel-window-from-column; }

    mod+r { switch-preset-column-width; }
    // cycling through the presets in reverse order is also possible.
    // mod+r { switch-preset-column-width-back; }
    mod+shift+r { switch-preset-window-height; }
    mod+ctrl+r { reset-window-height; }
    mod+f { maximize-column; }
    mod+shift+f { fullscreen-window; }
    // expand the focused column to space not taken up by other fully visible columns.
    // makes the column "fill the rest of the space".
    mod+ctrl+f { expand-column-to-available-width; }

    mod+c { center-column; }

    // center all fully visible columns on screen.
    mod+ctrl+c { center-visible-columns; }

    // finer width adjustments.
    // this command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // pixel sizes use logical, or scaled, pixels. i.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    mod+minus { set-column-width "-10%"; }
    mod+equal { set-column-width "+10%"; }

    // finer height adjustments when in column with other windows.
    mod+shift+minus { set-window-height "-10%"; }
    mod+shift+equal { set-window-height "+10%"; }

    // move the focused window between the floating and the tiling layout.
    mod+v       { toggle-window-floating; }
    mod+shift+v { switch-focus-between-floating-and-tiling; }

    // toggle tabbed column display mode.
    // windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    mod+w { toggle-column-tabbed-display; }

    // actions to switch layouts.
    // note: if you uncomment these, make sure you do not have
    // a matching layout switch hotkey configured in xkb options above.
    // having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // mod+space       { switch-layout "next"; }
    // mod+shift+space { switch-layout "prev"; }

    print { screenshot; }
    ctrl+print { screenshot-screen; }
    alt+print { screenshot-window; }

    // applications such as remote-desktop clients and software kvm switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // it's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // the allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    mod+escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // the quit action will show a confirmation dialog to avoid accidental exits.
    mod+shift+e { quit; }
    ctrl+alt+delete { quit; }

    // powers off the monitors. to turn them back on, do any input like
    // moving the mouse or pressing any other key.
    mod+shift+p { power-off-monitors; }
}
