spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "udiskie --smart-tray"
spawn-sh-at-startup "surge server"
spawn-at-startup "discord"
spawn-at-startup "awww-daemon"
// spawn-at-startup "fish -c 'randwall ~/pictures/wallpapers'"
